body {
  margin: 0;
  font-family: -apple-system, 'Helvetica neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-weight: 300;
  color: #1c1c1c;
}

h1 {
  color: #1c1c1c;
  font-weight: bold;
}

h2 {
  color: #1c1c1c;
  font-weight: bold;
}